.headerButton{
    border: none;
    background-color: transparent;
    color: teal;
    font-weight: 700;
    transition: 1.2s;
}

.headerButton:hover{
transform: scale(1.1);
}

.headerButton:disabled{
    color: #ccc;
}
.headerButton:disabled:hover{
    transform: none;
}